<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styleInicio.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto 2</title>
</head>
<body>
    <header>
        <div class="nombre">
            <h1>José Fuentes</h1>
            <h2>202001228</h2>
        </div>
        <div class="divisor"></div>
        <div class="curso">
            <h1>Empresa Your Music My Music</h1>
        </div>
    </header>
    <div class="container">
        


    </div>
</body>
</html>